page-home {

}

.rounded {
    width: 75px !important;
    height: 75px !important;
    border-radius: 50%;
}
.shorten {
    display: block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  ion-icon {
    font-size: 25px; 
}

.bakeit3 {
    color: map-get($colors , bakeit3 );
}

.bakeit2 {
    color: map-get($colors , bakeit2 );
}