<!--
  Generated template for the DataFilterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
  
      <ion-title>dataFilter</ion-title>
      <ion-buttons end>
        <button ion-button clear (click)="cancel()" color="danger">
          cancel
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content>

    <ion-item>
      <ion-label>ingredienten</ion-label>
      <ion-select [(ngModel)]="filterData.ingredienten">
        <ion-option value="">Doesn't matter</ion-option>
        <ion-option value="50g zout">50g zout</ion-option>
        <ion-option value="5kg lucht">5kg lucht</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>soort 1</ion-label>
      <ion-select [(ngModel)]="filterData.soort" interface="action-sheet">
        <ion-option *ngFor="let soort of soortenNew" value="{{soort}}">{{soort}}</ion-option>
      </ion-select>
    </ion-item>


    <ion-item>
        <ion-label>soort 2</ion-label>
        <ion-select [(ngModel)]="filterData.soort2" interface="action-sheet">
          <ion-option *ngFor="let soort of soortenNew" value="{{soort}}">{{soort}}</ion-option>
        </ion-select>
      </ion-item>


      
    <ion-item *ngFor="let soort of soortenNew" [attr.soort]="soort">
      <ion-label>{{soort}}</ion-label>
      <ion-toggle [(ngModel)]="filterData.soort"></ion-toggle>
    </ion-item>
    


    <ion-item>
      <button ion-button full (click)="dismiss()">Filter</button>
    </ion-item>
  </ion-content>